
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 2</b></center>   
Prince S. Chandpa
24010101034 
<pre>

### 01) WAP to print “Hello World..!!”

In [ ]:
print('Hello World..!!')

Hello World..!!

### 02) WAP to accept your name and display a welcome message.
#### Input: Priya
#### Output: Hello Priya, welcome to Python Lab.

In [3]:
name = input('Enter your name: ')
print(f'Hello {name}, Welcome to Python Lab.')

Hello Prince, Welcome to Python Lab.

### 03) WAP to accept three integers and display the numbers, their sum, and average.
#### Input: 10 20 30
#### Output: 
##### Numbers: 10 20 30
##### Sum: 60
##### Average: 20.0

In [5]:
a = int(input("Enter a:"))
b = int(input("Enter b:"))
c = int(input("Enter c:"))

print(f'Numbers: {a} {b} {c}')
print(f'Sum: {a+b+c}')
print(f'Average: {(a+b+c)/3}')

Numbers: 10 20 30
Sum: 60
Average: 20.0

### 04) WAP to accept name (string), age (int), and percentage (float).
#### Input : Riya,18,92.5
#### Output : 
##### Name: Riya  Type: <class 'str'>
##### Age: 18  Type: <class 'int'>
##### Percentage: 92.5  Type: <class 'float'>

In [7]:
name, age, percentage = input('Enter your Name, Age, Percentage:').split(',')

age = int(age)
percentage = float(percentage)

print(f'Name: {name} Type: {type(name)}')
print(f'Age: {age} Type: {type(age)}')
print(f'Percentage: {percentage} Type: {type(percentage)}')

Name: Prince Type: <class 'str'>
Age: 19 Type: <class 'int'>
Percentage: 9.21 Type: <class 'float'>

### 05) WAP to print folowing message using custom separator and end.
#### Ouutput : Python | Programming | Basics###

In [10]:
print('Python', 'Programming', 'Basic', sep='|', end='###')

Python|Programming|Basic###

### 06) WAP to accept a value and display its value, type, and memory id.
#### Input : hello
#### Output : 
##### Value: hello
##### Type: <class 'str'>
##### ID: 140712345678912

In [11]:
data = input('Enter Data:')

print(f"""Value: {data}
Type: {type(data)}
ID: {id(data)}
""")

Value: hello
Type: <class 'str'>
ID: 135005189404304

### 07) WAP to assign a value to a variable, print id, reassign a new value, and print id again.
#### Output :
##### Original ID of a: 140712345678912
##### New ID of a: 140712345678960

In [14]:
a = 10
print(f'Original ID of a: {id(a)}')

a = 11
print(f'New ID of a: {id(a)}')

Original ID of a: 10820592
New ID of a: 10820624

### 08) WAP to print multiple lines using a single print().
#### Output:
##### Welcome to Python
##### This is the second lab
##### Enjoy coding!

In [15]:
print("""Welcome to Python
This is the second lab
Enjoy coding!""")

Welcome to Python
This is the second lab
Enjoy coding!

### 09) WAP to display following table of items with proper alignment.
#### Output :
| Sr No | Name        | Subject | Grade | Percentage |
| ----: | ----------- | ------- | :---: | ---------: |
|     1 | Nisha Patel | Math    |   A   |         92 |
|     2 | Aarav Modi  | Science |   B+  |         85 |
|     3 | Jiya Shah   | English |   A+  |         96 |

In [35]:
print(f""" {'Sr No':^5} {'Name':<12} {'Subject':<8} {'Grade':^10} {'Percentage':^10} 
{'1':>6} {'Nisha Patel':<12} {'Math':<8} {'A':^10} {'92':>10} 
{'2':>6} {'Aarav Modi':<12} {'Science':<8} {'B+':^10} {'85':>10}
{'3':>6} {'Jiya Shah':<12} {'English':<8} {'A+':^10} {'96':>10}""")

 Sr No Name         Subject    Grade    Percentage
     1 Nisha Patel  Math         A              92
     2 Aarav Modi   Science      B+             85
     3 Jiya Shah    English      A+             96

### 10) WAP to accept a float number and display with 2 decimals, 3 decimals, and width 10.
#### Input : 37.2567
#### Output :
##### 2 decimals: 37.26
##### 3 decimals: 37.257
##### Width 10:      37.26

In [37]:
data=float(input("enter number "))
print(f"2 decimals: {data:.2f}")
print(f"3 decimals: {data:.3f}")
print(f"Width 10: {data:10.2f}")

2 decimals: 37.36
3 decimals: 37.357
Width 10:      37.36

### 11) WAP to accept two integers and display sum, difference, and product using f-strings.
#### Input : 12 8
#### Output :
##### Sum = 20
##### Difference = 4
##### Product = 96

In [1]:
a,b = input('Enter Numbers(a b):').split()

a = int(a)
b = int(b)

print(f"""Sum = {a + b}
Difference = {a - b}
Product = {a * b}""")

Sum = 20
Difference = 4
Product = 96

### 12) WAP to accept date in dd mm yyyy format and display in multiple formats.
#### Input : 01 12 2025
#### Output :
##### 01/12/2025
##### 2025-12-01

In [2]:
d, m, y = input('Ennter Date:').split()

print(d, m, y, sep='/')
print(y, m, d, sep='-')

01/12/2025
2025-12-01

### 13) WAP to calculate area and perimeter of a circle.

In [3]:
radius = float(input("enter radius"))
area = 3.14*(radius**2)
perimeter = 3.14*2*radius
print(f"Area: {area}", f"Perimeter: {perimeter}", sep='\n')

Area: 314.0
Perimeter: 62.800000000000004

### 14) WAP to convert degree into Fahrenheit and vice versa.

In [5]:
c=float(input("Enter C:"))
print(f"F = {((c*1.8)+32)}")

f=float(input("Enter F:"))
print(f"C = {(f-32)/1.8}")

F = 50.0
C = 10.0

### 15) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [7]:
kilometer = float(input("Enter Distance(in km):"))

meter = kilometer*1000
inch = meter*39.3701
feet = meter*3.28084
centimeter = meter*100


print(f"Kilometer: {kilometer}km")
print(f"meter: {meter}m")
print(f"inch: {inch}\"")
print(f"feet: {feet}\'")
print(f"centimeter: {centimeter}cm")

Kilometer: 100.0km
meter: 100000.0m
inch: 3937010.0"
feet: 328084.0'
centimeter: 10000000.0cm